
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Festive&display=swap');

.calculator{display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  flex-direction: column;
margin-left: 30rem;
margin-right: 30rem;
padding: 1rem;
border: 1px solid;
border-color: black;
border-radius: 2px;
}
.display{
padding: 0.2rem;
  border: 1px solid;
  border-color: black;
  background-color:rgba(128, 128, 128, 0.253);
  border-radius: 5px;
  color:black;
  width:170px;}

.App {
  text-align: center;
}

.AppTitle {font-family: 'Caveat', cursive;
color:gold}



.numbers{  
    padding:0.5rem;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    column-width: 5rem;
    grid-gap: 1px;}


button:hover { 
  background:white;
  color:black;}